<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

#Jupyter Notebook

## Exercise 1: Create a Jupyter Notebook

## Exercise 2 - Create a markdown cell with the title of the notebook

# Name: Peer-graded_Assignment-My_Work

## Exercise 3 - Create a markdown cell for an introduction.

In this notebook, Data Science Tools and Environment are summarized.

Objectives:

List languages that Data Scientists use.

List libraries that Data Scientists use.

List Data Science tools.

## Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

Some of the popular languages that are used in Data Science are:

1. Python.
2. R.
3. SQL.
4. Java.
5. Julia.
6. Scala.
7. C/C++.

## Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

The commonly used libraries used in Data Science includes:

1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.
5. Matplotlib.
6. Keras.
7. SciKit-Learn.
8. PyTorch.
9. BeautifulSoup.
10. Caffe2.

## Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

### Data Science Tools:

 Col 1 | Col 2 | Col 3
 | --- |  ---  |  ---  |
 Python | Tensor Flow | Tableau
 Apache Spark | SAS | Jupyter Notebook
 R |

## Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

### Examples for Arithmetic Expressions

In [31]:
# addition
add = 3 + 4
add

7

In [32]:
# multiplication
mult = 5 * 6
mult

30

In [30]:
#area of a rectangle
import numpy
L = 5
B = 6
area = L * B
area

30

## Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)

In [34]:
(7*5)+7
# result 42

42

## Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

#### Convert 500 minutes to hours by dividing by 60

In [38]:

time = 500
#days = time / 1440
left_minutes = time % 1440
hours = left_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

# Result: 8.3333333333333335 hours

0 days, 8.333333333333334 hours, 0 mins.

## Exercise 10 -Insert a markdown cell to list Objectives.

Objectives:

List languages that Data Scientists use.

List libraries that Data Scientists use.

List Data Science tools.

Creating examples for arithmetic expressions.

## Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name.

# Author

## Shyamily Haridas